*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  width:100%;
  height:100%;
  color:#262626;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration:none;
}
ul{
  list-style:none;
}

/* navbar styles */
.main_head{
  position:fixed;
  width:25%;
  height:100%;
  border-right:solid 1px #262626;
  box-shadow: 4px 0 4px -2px #262626;
}

.main_nav li{
  padding:10px;
  margin-left:15px;
}

.main_head h1{
  text-align:center;
  padding:10px;
  font-size:1.5em;
  color:#262626;
}

.main_nav a{
  color:#262626;
}

.main_nav a:hover{
  text-decoration:underline;
}

/*main section styles*/
.main_doc{
  position:absolute;
  right:0;
  width:75%;
  height:100%;
  padding:30px;
}

.main_doc ul{
  list-style:disc;
}
.main_doc li, p{
  margin-left:40px;
  line-height:40px;
  font-family: "Open Sans", Arial, sans-serif;
}
.main_doc h2, h3{
  margin-bottom:10px;
  margin-top:5px;
  font-weight:lighter;
}
.main_doc code{
  margin-left:80px;
}
.main_doc .indent{
  margin-left:40px;
}
.main_doc .sub_ul{
  list-style:circle;
}
.main_doc .list_data_type{
  margin-left:40px;
}
.main_doc .list_data_type p{
  margin-left:-40px;
}
.main_doc h2{
  font-size:1.8em;
  font-family: "Open Sans", Arial, sans-serif;
}

code{
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  background-color: #f7f7f7;
}

.main_doc span{
  margin-left:40px;
}

@media only screen and (max-width: 600px){
  .main_head{
    display:none;
  }
  
  .main_doc{
    width:100%;
  }
}

@media only screen and (max-width: 900px){
  .main_head h1{
    font-size:1em;
  }
}